# Python
.venv/
__pycache__/
*.py[cod]

# Environment variables and secrets
.env
.env.*
!.env.example

# PyCharm
.idea/

# VS Code
.vscode/

# Logs
*.log

# Testing
.pytest_cache/

# Raw/local data
data/raw/

# OS
Thumbs.db
.DS_Store